body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode header,
body.dark-mode #task-input,
body.dark-mode #task-list li {
    background-color: #444;
    color: #f4f4f4;
}
