body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

#task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #CCCCCC;
}

#task-input button {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

#task-list ul {
    list-style: none;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.task-text.completed {
    text-decoration: line-through;
    color: #888;
}

#task-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#task-filter button {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
