body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    transition: background-color 0.3s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

#task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input input {
    flex: 1;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 25px;
    font-size: 16px;
}

#task-input button {
    background-color: #FFD700;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#task-input button:hover {
    background-color: #FFC700;
}

#task-input button:active {
    background-color: #FFB700;
}

#task-list ul {
    list-style: none;
    padding: 0;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.task-text.completed {
    text-decoration: line-through;
    color: #888;
}

#task-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#task-filter button {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#task-filter button:hover {
    background-color: #FFC700;
}

#task-filter button:active {
    background-color: #FFB700;
}

#task-counter {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

#progress-bar-container {
    width: 100%;
    background-color: #CCCCCC;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 10px;
}

#progress-bar {
    height: 20px;
    background-color: #FFD700;
    width: 0;
    transition: width 0.3s ease;
}

.dark-mode {
    background-color: #333333;
    color: #f8f8f8;
}

.dark-mode #task-input input {
    border: 1px solid #555555;
}

.dark-mode #task-list li {
    background-color: #444444;
    border: 1px solid #555555;
}

.dark-mode #task-filter button {
    background-color: #666666;
}

.dark-mode #task-filter button:hover {
    background-color: #777777;
}

.dark-mode #task-filter button:active {
    background-color: #888888;
}

.dark-mode #progress-bar-container {
    background-color: #555555;
}

.dark-mode #progress-bar {
    background-color: #FFD700;
}
